[ {:ac                     12,
  :name                   "Studded Leather Body Armour",
  :type                   "Light",
  :slot                   "body"
  :disadvantaged-stealth? false}
 {:ac                     15,
  :name                   "Half Plate Body Armour",
  :type                   "Medium",
  :slot                   "body"
  :disadvantaged-stealth? true}
 {:ac                     18,
  :name                   "Plate Body Armour",
  :type                   "Heavy",
  :slot                   "body"
  :disadvantaged-stealth? true}
 {:ac                     2
  :name                   "Shield"
  :type                   "Shield"
  :slot                   "shield"
  :disadvantaged-stealth? false}
 {:ac                     0,
  :name                   "Unarmoured boots",
  :type                   "Unarmoured",
  :slot                   "boots"
  :disadvantaged-stealth? false}
 {:ac                     0,
  :name                   "Unarmoured gloves",
  :type                   "Unarmoured",
  :slot                   "gloves"
  :disadvantaged-stealth? false}
 {:ac                     0,
  :name                   "Unarmoured body armour (shirt)",
  :type                   "Unarmoured",
  :slot                   "body"
  :disadvantaged-stealth? false}]
