{:zed    [{:effect "+1 die size with weapon attacks."
           :points 10
           :tags   #{"damage"}}
          {:effect "-[2:1] to your Concentration saving throw DC minimum."
           :points 10
           :tags   #{"magic"}}
          {:effect "Creatures of your choice that are under the effect of a spell you cast have +1 to all saving throws."
           :points 10
           :tags   #{"magic" "survivability"}}
          {:effect      "When casting a spell that requires concentration, you can consume spell slots one level below the required level if you have failed a concentration save since the end of your last turn."
           :upgradeable false
           :points      10
           :tags        #{"magic"}}
          {:effect      "If one of your consumed spell slots was used to cast a Conjuration spell, your Arcane recovery feature grants spell slots level equal to your Wizard level, instead of half."
           :points      20
           :upgradeable false
           :tags        #{"magic"}}
          {:effect      "You and your minions deal additional damage equal to half of the number of mods on this item, rounded up."
           :points      10
           :upgradeable false
           :tags        #{"damage"}}]
 :urian  [{:effect "Your of Lay of Hands pool increases by [5:5]."
           :points 10
           :tags   #{"survivability" "utility"}}
          {:effect "The number of spells you can prepare is increased by 1."
           :points 10
           :tags   #{"magic"}}
          {:effect "+1 uses of Channel Divinity."
           :points 30
           :tags   #{"control" "accuracy"}}
          {:effect      "When you use your Guided Strike feature to improve the roll of an attack that would have hit anyway, the attack becomes a critical hit."
           :upgradeable false
           :points      20
           :tags        #{"critical"}}
          {:effect      "Once per turn, when you attack a creature currently frightened by your Conquering Presence feature, you may Divine Smite against it without consuming a use."
           :upgradeable false
           :points      20
           :tags        #{"damage"}}
          {:effect      "If you end a combat with points remaining in your exertion pool and then take a long rest, you retain half of those exertion points (rounded up)."
           :upgradeable false
           :points      10
           :tags        #{"utility"}}]
 :fiore  [{:effect "+[2:1] to your maximum exertion points."
           :points 20
           :tags   #{"utility"}}
          {:effect "+[2:1] damage against enemies whose AC is lower than yours."
           :points 10
           :tags   #{"damage"}}
          {:effect "You have 1 additional use of your Panache feature."
           :points 10
           :tags   #{"utility"}}
          {:effect      "You have one additional Duelist feature unlocked (e.g. at level 3, you would also know 'Parry and Thrust')."
           :upgradeable false
           :points      30
           :tags        #{"utility"}}
          {:effect      "Add the lowest of your Constitution, Charisma, and Dexterity modifiers to your number of Maneuvers known."
           :upgradeable false
           :points      10
           :tags        #{"utility"}}
          {:effect      "All of your Sword weapons gain the Finesse trait."
           :upgradeable false
           :points      20
           :tags        #{"utility"}}]
 :truvat [{:effect "+5 feet to each of your speeds per level of fatigue on you."
           :points 10
           :tags   #{"utility"}}
          {:effect "+1 to saves and attacks you have disadvantage on while fatigued."
           :points 10
           :tags   #{"survivability" "accuracy"}}
          {:effect "+1AB for attacks targeting an enemy other than the first enemy you targeted on that turn."
           :points 10
           :tags   #{"accuracy"}}
          {:effect      "+20% to not gain fatigue when your Frenzy ends."
           :upgradeable false
           :points      10
           :tags        #{"utility"}}
          {:effect      "You have an additional available level of fatigue, between 3 and 4, that does nothing."
           :upgradeable false
           :points      20
           :tags        #{"utility"}}
          {:effect      "Your weapons gain the Forceful trait."
           :upgradeable false
           :points      10
           :tags        #{"damage"}}]}
