[{:effect "+1 AC."
  :points 30
  :tags   #{"survivability"}}
 {:effect "You have an additional spell slot of your second highest spell level where you have at least one spell slot available."
  :points 20
  :tags   #{"magic"}}
 {:effect      "On your turn, your melee attacks have a reach of 10 feet."
  :points      30
  :upgradeable false
  :tags        #{"utility"}}
 {:effect      "Stone's Endurance (if you already have it, you get another use per long/short rest) (Volo's p109)."
  :upgradeable false
  :tags        #{"survivability"}}
 {:effect "+1 to global AB."
  :tags   #{"accuracy"}
  :points 35}
 {:effect   "+1 to this weapon's base damage die size.",
  :requires {:base-type "weapon"}
  :tags     #{"damage"}}
 {:effect "Recover a 1st-level spell slot when you roll for initiative."
  :tags   #{"magic"}}
 {:effect "Recover 10% of your maximum class points (minimum 1) when you roll for initiative."
  :tags   #{"utility"}}
 {:effect         "+[1d4] %s damage with weapon attacks."
  :points         20
  :upgrade-points 10
  :tags           #{"damage"}
  :requires       {:base-type "weapon"}
  :randoms        [{:preset :damage-types}]}
 {:effect "+1 to your DCs."
  :tags   #{"accuracy"}
  :points 35}
 {:effect    "+1 AC while unarmoured and not using a Shield or Targe weapons."
  :tags      #{"survivability"}
  :prohibits {:traits #{"Targe"}
              :type   #{"Shield" "Light" "Medium" "Heavy"}}
  :points    20}
 {:effect "+1 AC while using a Shield or a Targe weapon."
  :tags   #{"survivability"}
  :points 25}
 {:effect "Gain resistance to physical damage equal to half the CR total of your highest CR active minion."
  :tags   #{"survivability"}}
 {:effect         "+2 %s damage."
  :tags           #{"damage"}
  :randoms        [{:preset :damage-types
                    :type   :physical}]
  :points         20
  :upgrade-points 10}
 {:effect         "+[2:1] %s damage."
  :randoms        [{:preset :damage-types
                    :type   :non-physical}]
  :points         15
  :upgrade-points 10
  :tags           #{"damage"}}
 {:effect  "+[2:2] maximum %s barrier."
  :tags    #{"survivability"}
  :randoms [{:preset :damage-types
             :type   :non-physical}]}
 {:effect  "+1 %s."
  :tags    #{"utility"}
  :randoms [{:preset :ability-scores}]
  :points  20}
 {:effect "You have [1] additional second level spell slot."
  :tags   #{"magic"}
  :points 15}
 {:effect "+1 critical hit range with attacks."
  :tags   #{"critical"}
  :points 20}
 {:effect "+1 critical hit range with your first attack on your turn."
  :tags   #{"critical"}}
 {:effect "+1 weapon attack AB with attacks that deal non-physical damage."
  :tags   #{"accuracy"}
  :points 30}
 {:effect      "You have advantage on initiative rolls."
  :tags        #{"utility"}
  :upgradeable false}
 {:effect "No more than [once] per minute, when you score a critical hit, recover a 1st-level spell slot."
  :tags   #{"magic" "critical"}}
 {:effect "No more than [once] per minute, when you score a critical hit, recover 10% of your maximum class points (minimum 1)."
  :tags   #{"utility" "critical"}}
 {:effect    "+1 AB with unarmed attacks."
  :tags      #{"accuracy"}
  :prohibits {:base-type "weapon"}
  :points    30}
 {:effect   "+1 to %s saving throws."
  :randoms  [{:preset :ability-scores
              :type   :uncommon}]
  :tags     #{"survivability"}
  :requires {:base-type "armour"}}
 {:effect   "+1 to %s saving throws."
  :randoms  [{:preset :ability-scores
              :type   :common}]
  :tags     #{"survivability"}
  :points   20
  :requires {:base-type "armour"}}
 {:effect "You gain telepathy with a range of 10 feet."
  :tags   #{"utility"}}
 {:effect "+1 question when learning creature stats (must have earned at least one question)"
  :tags   #{"utility"}}
 {:effect "Your critical hits add 1 additional damage die from the source's base damage."
  :tags   #{"critical"}}
 {:effect "You can use your reaction to change any damage you deal into a damage type of your choice. This is visually noticeable."
  :tags   #{"survivability"}}
 {:effect   "+2 maximum %s barrier."
  :tags     #{"survivability"}
  :requires {:base-type "armour"}
  :randoms  [{:preset :damage-types}]}
 {:effect   "Once per round, when you take damage from a melee or touch attack, the attacker takes true damage equal to half your level, rounded down."
  :tags     #{"damage"}
  :requires {:base-type "armour"}}
 {:effect   "When a melee or touch attack fails to hit you, the attacker takes true damage equal to half your level, rounded down.",
  :tags     #{"damage"}
  :requires {:base-type "armour"}}
 {:effect "+1 DC for saves made to end your ongoing effects."
  :tags   #{"accuracy"}
  :points 20}
 {:effect "Creatures that start their turn within [5] feet of you have their speed reduced by 10 feet, to a minimum of 5 feet."
  :tags   #{"control"}}
 {:effect "+1 damage against creatures for each condition on them that you caused."
  :tags   #{"damage"}}
 {:effect      "When you cause a condition on a creature, +10% chance to replace that condition with debilitation."
  :points      20
  :upgradeable false
  :tags        #{"control"}}
 {:effect      "Creatures that have hit you with an opportunity attack in the last minute have disadvantage on opportunity attacks."
  :upgradeable false
  :tags        #{"control"}}
 {:effect "When you score a natural critical hit against an enemy with at least one condition, including a condition caused by the critical hit, you may lock [1] condition on that creature until the start of your next turn. A locked condition cannot expire and cannot be saved out of."
  :tags   #{"control" "critical"}}
 {:effect "Creatures of your choice under the effect of a spell of yours or a condition you caused have -[1] to saving throws against spells and conditions."
  :points 30
  :tags   #{"magic" "accuracy" "control"}}
 {:effect "Once per long rest, as an action, you can make a Persuasion check contested by a non-hostile creature's Wisdom save. The creature must be within 60 feet of you. On a success, you can give them a command as per the Command spell."
  :tags   #{"control"}}
 {:effect      "If you take damage exceeding 25% of your maximum hit points in one turn and do not reach 0 hit points by its end, heal hit points equal to your level."
  :tags        #{"survivability"}
  :upgradeable false}
 {:effect      "If you take damage exceeding 25% of your maximum hit points in one round and do not reach 0 hit points by its end, you may move up one place in the initiative tracker, if possible."
  :tags        #{"utility"}
  :upgradeable false}
 {:effect "Once per long rest, when you need make an attack roll, ability check, or saving throw, you can use your reaction to replace it with a 50% chance to critically succeed and 50% chance to to critically fail."
  :tags   #{"survivability" "utility" "critical"}}
 {:effect "+1 global damage."
  :tags   #{"damage"}}
 {:effect "+1 to death saves."
  :tags   #{"survivability"}}
 {:effect "Gain temporary hit points equal to your lowest ability score (not bonus) at the beginning of each combat."
  :tags   #{"survivability"}}
 {:effect "You have [1] additional first level spell slot."
  :tags   #{"magic"}}
 {:effect "+10ft darkvision."
  :tags   #{"utility"}
  :points 20}
 {:effect  "+5ft %s."
  :randoms [{:preset :literal
             :values ["blindsight" "tremorsense"]}]
  :tags    #{"utility"}}
 {:effect  "+1 AB with opportunity attacks while you %s."
  :randoms [{:preset :literal
             :values ["have temporary HP"
                      "are on 100% HP"
                      "are flanked"
                      "are flanking the target"]}]
  :tags    #{"accuracy"}}
 {:effect "Creatures that have hit you with a critical hit in the last minute have -[1]AB."
  :tags   #{"control"}}
 {:effect "You cannot be deafened."
  :tags   #{"utility"}
  :points 4}
 {:effect      "When you score a critical hit with an attack of opportunity, the target is debilitated until the end of their turn."
  :tags        #{"control" "critical"}
  :upgradeable false}
 {:effect      "You may take an additional action the end of an action where you landed a killing blow with a critical hit."
  :tags        #{"critical" "utility"}
  :upgradeable false}
 {:effect      "When you hit a creature with a a weapon attack, they are silenced until the end of their next turn."
  :tags        #{"control"}
  :requires    {:base-type "weapon"}
  :upgradeable false}
 {:effect      "First wearer chooses a language in which this item grants proficiency."
  :tags        #{"utility"}
  :upgradeable false}
 {:effect "+2 passive perception while asleep."
  :tags   #{"utility"}}
 {:effect "+5 feet speed in all of your available speed types."
  :tags   #{"utility"}}
 {:effect "+10 feet speed in all of your available speed types on your turn if you have not used your action yet."
  :tags   #{"utility"}}
 {:effect "+1 to hit die size for regaining health during short rests."
  :tags   #{"survivability"}}
 {:effect "+1 to initiative rolls."
  :tags   #{"utility"}}
 {:effect   "+1 damage with %s."
  :randoms  [{:preset :literal
              :values ["spells" "weapons"]
              :factor 2}]
  :tags     #{"damage"}
  :requires {:base-type "weapon"}}
 {:effect  "+5ft %s speed."
  :randoms [{:preset :literal
             :values ["burrow" "fly"]}]
  :tags    #{"utility"}}
 {:effect "+10ft climb speed."
  :tags   #{"utility"}}
 {:effect "+10ft swimming speed, and you can breath under water."
  :tags   #{"utility"}}
 {:effect      "You can jump without a run-up as if you had taken a run-up."
  :tags        #{"utility"}
  :upgradeable false}
 {:effect   "+4 damage against %s creatures."
  :tags     #{"damage"}
  :randoms  [{:preset :monster-types}]
  :requires {:base-type "weapon"}}
 {:effect  "+1 expertise die with %s."
  :tags    #{"utility"}
  :randoms [{:preset :skills}]}
 {:effect   "+20 feet to both range options on ranged weapons."
  :tags     #{"utility"}
  :points   20
  :requires {:ranged?   true
             :base-type "weapon"}}
 {:effect  "While wearing this item, you may cast %s once per long rest."
  :randoms [{:preset :cantrips}]
  :tags    #{"magic"}}
 {:effect "+2 to deception in languages other than Common."
  :tags   #{"utility"}}
 {:effect "This item sells for an extra [1]d20 gold. You only roll after the item is sold."
  :tags   #{"wealth"}}
 {:effect "+1 to your loot rolls on loot rolls obtained via positive random encounters."
  :tags   #{"wealth"}}
 {:effect "+10% chance to trade your creature parts for two loot rolls instead of one."
  :tags   #{"wealth"}}
 {:effect "+5 to gold found."
  :tags   #{"wealth"}}
 {:effect "+1 to journey activity checks."
  :tags   #{"wealth" "utility"}}
 {:effect "+10% chance to avoid gaining a level of fatigue when you would normally gain one."
  :tags   #{"utility"}}
 {:effect "+10% chance to lose one level of strife when you would normally gain one."
  :tags   #{"utility"}}
 {:effect "Your loot rolls always grant you 1 additional gold (even from non-gold results)."
  :points 20
  :tags   #{"wealth"}}
 {:effect "Helmets you destroy have a 25% chance to grant [1] additional Orb of Personality."
  :tags   #{"wealth"}}
 {:effect "You find loot as if your Investigation and Survival check results are 1 point higher."
  :tags   #{"wealth"}}
 {:effect   "Missed weapon attacks have a [20:5]% chance to be critical hits instead while you are below 20% hit points."
  :tags     #{"critical"}
  :requires {:base-type "weapon"}}
 {:effect "+1 incoming healing."
  :tags   #{"survivability"}}
 {:effect "+2 outgoing healing"
  :tags   #{"magic"}}
 {:effect "Once per long rest, when rolling a natural 1 on a d20, you may reroll."
  :tags   #{"utility"}}
 {:effect   "+1 to saving throws made to end an ongoing condition if your HP is above 0."
  :tags     #{"survivability"}
  :requires {:base-type "armour"}}
 {:effect      "You have resistance to all damage while affected by the benefits of the Dodge action."
  :tags        #{"survivability"}
  :upgradeable false}
 {:effect "+1 damage to melee and touch attacks."
  :tags   #{"damage"}}
 {:effect "[Once] per short rest, recover a 1st-level spell slot on Killing Blow."
  :tags   #{"magic"}}
 {:effect   "At the start of your turn in combat, if you haven't taken damage since the start of your last turn, gain 1 temporary hit point. This stacks with any existing temporary hit points."
  :tags     #{"survivability"}
  :requires {:base-type "armour"}}
 {:effect   "Once per long rest, you can choose a target you can see as an action and then cast a random 1st-level spell on that target, ignoring range restrictions.",
  :tags     #{"magic"}
  :requires {:base-type "weapon"}}
 {:effect "When you deliver a Killing Blow, gain +2 global damage for [1] minute."
  :tags   #{"damage"}}
 {:effect "+[4:4] maximum physical barrier while taking Damage Over Time."
  :tags   #{"survivability"}}
 {:effect "+1 to damage with dual-wielding weapons."
  :tags   #{"damage"}}
 {:effect "Reroll, the resulting enchant is applied to minions instead of the wielder (10 points)."}
 {:effect "When an attack fails to hit you in combat, you can use your reaction to reduce your AC for the attack until it does hit you. Your next instance of damage in the next minute is then increased by 3 for each point of AC you dropped."
  :tags   #{"damage"}}
 {:effect "+1 to damage over time."
  :tags   #{"damage"}}
 {:effect "When you hit a creature with a weapon attack, they are marked to take +1 damage from creatures other than yourself for [1] minute. This does not stack."
  :tags   #{"damage"}}
 {:effect "Gain 10 temporary hit points when you deliver a Killing Blow."
  :tags   #{"survivability"}}
 {:effect "Whenever you grant a buff with a duration to a creature, gain +1 outgoing healing until the end of the buff."
  :tags   #{"magic"}}
 {:effect "Every third spell you cast deals +[5:2] damage, across any amount of time."
  :tags   #{"damage"}}
 {:effect "+[2:1] damage against enemies you are flanking."
  :tags   #{"damage"}}
 {:effect  "+[2:1] global damage against creatures %s in the initiative tracker."
  :randoms [{:preset :literal
             :values ["behind you" "ahead of you"]}]
  :tags    #{"damage"}}
 {:effect "Heal 5 hit points when you roll for initiative."
  :tags   #{"survivability"}}
 {:effect   "+25% chance to ignore bonus damage from incoming critical hits."
  :tags     #{"survivability"}
  :requires {:base-type "armour"}}
 {:effect "+2 global damage while you are bloodied."
  :tags   #{"damage"}}
 {:effect "When you deliver a Killing Blow, heal 5 hit points."
  :tags   #{"survivability"}}
 {:effect "While up, regenerate 1 hit point at the start of each round of combat."
  :tags   #{"survivability"}}
 {:effect "+3 to maximum HP."
  :tags   #{"survivability"}}
 {:effect "+[2:1] to minion damage."
  :tags   #{"damage"}}
 {:effect "+5 feet range for applying stabilising Medicine checks."
  :tags   #{"utility"}
  :points 20}
 {:effect  "+1 maximum %s."
  :tags    #{"utility"}
  :points  20
  :randoms [{:preset :ability-scores}]}
 {:effect   "+1 to death saves in %s."
  :tags     #{"survivability"}
  :randoms  [{:preset :literal
              :values ["sunlight" "darkness"]}]
  :points   5
  :requires {:base-type "armour"}}
 {:effect      "Enemies are considered to enter and leave your reach at 5 feet, as well as at your regular reach."
  :tags        #{"utility"}
  :points      25
  :requires    {:base-type "weapon"
                :traits    #{"Reach"}}
  :upgradeable false}
 {:effect      "This weapon only requires 10 strength instead of 15. It is still considered heavy for the purpose of dual wielding."
  :tags        #{"utility"}
  :points      5
  :requires    {:base-type "weapon"
                :traits    #{"Heavy"}}
  :upgradeable false}
 {:effect "+1 damage die size from marks you caused."
  :tags   #{"damage"}}
 {:effect "+1 damage against marked enemies."
  :tags   #{"damage"}}
 {:effect      "Your ranged weapon attacks do not suffer disadvantage from enemies being within 5 feet of you if the target of the attack is the only creature imposing disadvantage on you."
  :tags        #{"accuracy"}
  :requires    {:ranged? true}
  :upgradeable false}
 {:effect "Upon cursing a creature, you may ask one question about it."
  :tags   #{"utility"}}
 {:effect "Creatures that were cursed by you in the last minute but no longer are have -[1] to saving throws against your curses."
  :tags   #{"accuracy"}}
 {:effect "+[1] to initiative rolls when at least one of the enemies you can see is of size Large or greater."
  :tags   #{"utility"}}
 {:effect "+[2] to saving throws against effects that can petrify."
  :points 5
  :tags   #{"survivability"}}
 {:effect "+[2:1] damage with attacks that are at least your third during that turn."
  :tags   #{"damage"}}
 {:effect   "Your critical hits with this weapon are also non-lethal."
  :tags     #{"utility" "critical"}
  :requires {:base-type "weapon"
             :traits    #{"Non-lethal"}}}
 {:effect      "Damage dice added due to critical hits with weapon attacks are automatically rolled at their maximum."
  :tags        #{"critical"}
  :points      30
  :upgradeable false
  :requires    {:base-type "weapon"
                :traits    #{"Deadly"}}}
 {:effect      "If all creatures targeted by a spell you cast received a natural critical hit, the spell slot used for that cast is refunded."
  :tags        #{"critical" "magic"}
  :upgradeable false
  :requires    {:base-type "weapon"
                :traits    #{"Conduit"}}}
 {:effect   "+2 damage with attacks with other weapons."
  :tags     #{"damage"}
  :requires {:base-type "weapon"
             :traits    #{"Dual-wielding"}}}
 {:effect "You and your minions have +3 damage with critical hits."
  :tags   #{"critical"}}
 {:effect      "Damage from your critical hits ignores barriers, resistances, and immunities."
  :upgradeable false
  :tags        #{"critical"}}
 {:effect "5% chance to refund the spell slots used for spells cast outside of your turn."
  :tags   #{"magic"}}
 {:effect "Regain 2 hits points when you, or allies within [5] feet of you, take a critical hit and remain conscious."
  :tags   #{"survivability"}}
 {:effect   "This armour no longer causes Stealth checks to be made with disadvantage."
  :tags     #{"utility"}
  :requires {:base-type             "armour"
             :disadvantaged-stealth true}}
 {:effect   "When you hit a temporarily invisible creature with a weapon attack, they become visible."
  :tags     #{"utility"}
  :requires {:base-type "weapon"}}
 {:effect      "Long range thrown weapon attacks have a 50% chance to not incur disadvantage due to the range."
  :tags        #{"accuracy"}
  :upgradeable false
  :requires    {:base-type "weapon"
                :traits    #{"Thrown"}}}
 {:effect   "+[2:2] maximum physical barrier."
  :requires {:base-type "armour"
             :type      #{"Heavy"}}
  :tags     #{"survivability"}}
 {:effect      "+[2:2] maximum non-physical barrier."
  :upgradeable false
  :requires    {:base-type "armour"
                :type      #{"Medium"}}
  :tags        #{"survivability"}}
 {:effect   "+1 to Dexterity saving throws if wearing a light or unarmoured body armour and not using a shield."
  :requires {:base-type "armour"
             :type      #{"Light" "Unarmoured"}}
  :tags     #{"survivability"}}]
