[{:name   "Talaria"
  :effect "Modifiers to non-global speed on this item are instead applied to flying speed. +5ft flying speed while this item has at least one modifier relating to speed."
  :slot   "boots"}
 {:name   "Unbound"
  :effect "+1 to saves for ending and avoiding conditions while this item has at least one modifier that relates to grapples or restrains."
  :slot   "boots"}
 {:name   "Traceur"
  :effect "+15 feet to each of your speeds (0+) while this item has at least one modifier that relates to jumping."
  :slot   "boots"}
 {:name   "Hardy"
  :effect "+2 maximum barrier while this item has at least one modifier that grants AC to the wearer, including conditional modifiers regardless of if they apply."
  :slot   "body"}
 {:name   "Hale"
  :effect "+1 to the values of all modifiers on this item that relate to healing, regeneration, and temporary hit points."
  :slot   "boots"}
 {:name   "Selfish"
  :effect "Outgoing healing modifiers on this item are converted to incoming healing. Incoming healing modifiers on this item, including converted modifiers, have +1 to their values."
  :slot   "boots"}
 {:name   "Egalitarian"
  :effect "Modifiers on this item that grant maximum barrier apply to all damage types and damage source types, and are no longer conditional if they were originally."
  :slot   "boots"}
 {:name   "Defensive"
  :effect "If this item only has 'survivability' tagged modifiers on it, +1 global damage for each 'survivability' tagged mod on this item."
  :slot   "boots"}
 {:name   "Bramblejack"
  :effect "Modifiers on this item that grant maximum barrier also grant equivalent piercing damage thorns that triggers when that barrier applies."
  :slot   "body"}
 {:name   "Journeyman"
  :effect "You are considered to be proficient in all skills for the purpose of journey activities while this item has a modifier that grants proficiency or expertise die with any skill."
  :slot   "body"}
 {:name   "Wreckless"
  :effect "Modifiers that grant maximum barrier on this item instead grant half that much damage, including types and conditions (e.g. +2 maximum cold barrier while bloodied -> +1 cold damage while bloodied)."
  :slot   "body"}
 {:name   "Maleficarum"
  :effect "Creatures affected by your marks or curses have take +1 damage while this item has at least one modifier that relates to marks or curses."
  :slot   "body"}
 {:name   "Abundant"
  :effect "'Wealth' tagged modifiers on this item have no effect. +1 to your %s for each wealth modifier on this item."
  :randoms [{:preset :ability-scores}]
  :slot   "body"}
 {:name   "Precise"
  :effect "+1 to your critical hit range for each 'critical' tagged modifier on this item. Your critical hits deal no additional damage if this item has at least one 'critical' tagged modifier, and your natural criticals are always hits."
  :slot   "body"}
 {:name   "Sovereignty"
  :effect "+2 to concentration saves for minion spells and effects while this item has at least one modifier that affects your minions."
  :slot   "gloves"}
 {:name   "Multi-talented"
  :effect "Modifiers to skills on this item also apply to %1$s (this has no effect on modifiers that already apply to %1$s)."
  :randoms [{:preset :skills}]
  :slot   "gloves"}
 {:name   "Aggressive"
  :effect "Your AC is always exactly 14 while this item only has 'damage' tagged modifiers on it, and has at least 2 modifiers."
  :slot   "gloves"}
 {:name   "Consistent"
  :effect "Effects granted to you by modifiers on this item on killing blow can also be gained as a free action on your turn no more than once per long rest."
  :slot   "gloves"}
 {:name   "Amplified"
  :effect "Relics on this item are one level higher, to a maximum of 10. Relics removed from this item lose their last gained level."
  :slot   "gloves"}
 {:name   "Sniper"
  :effect "Modifiers related to attacks, melee attacks, or spell attacks now apply to all ranged attacks instead."
  :slot   "gloves"}
 {:name   "Confrontational"
  :effect "Modifiers related to attacks, ranged attacks, or spell attacks now apply to all melee weapon attacks and touch attacks instead."
  :slot   "gloves"}]
