[{:name   "The Fool"
  :effect "This turn in uses random cards (drawn from the deck) instead of the ones actually turned in (same amount). The cards used are still discarded."}
 {:name   "The Magician"
  :effect "The resulting item also contains a modifier that grants +1 Intelligence, Wisdom, and Charisma (for relics: 30 points, upgradeable) if it has at least one modifier with the 'magic' tag."}
 {:name   "The High Priestess"
  :effect "This card is converted into a random Court Card from the deck when you turn in this set. Cannot be turned in with other court cards."}
 {:name   "The Empress"
  :effect "The resulting item is guaranteed to be on a special body armour base."}
 {:name   "The Emperor"
  :effect "The resulting item is guaranteed to be on a special glove base."}
 {:name   "The Hierophant"
  :effect "You also gain Divine Dust when turning in this set."}
 {:name   "The Lovers"
  :effect "You may also turn this set in with 3 or 4 cards."}
 {:name   "The Chariot"
  :effect "The resulting item is guaranteed to be on a special boot base."}
 {:name   "Strength"
  :effect "The resulting item is guaranteed to be on a weapon base of your choice, potentially causing unique weapons to spawn on a weapon base they would not usually be able to spawn on."}
 {:name   "The Hermit"
  :effect "You also gain one Orb of Personality when turning in this set."}
 {:name   "Wheel of Fortune"
  :effect "You also gain one loot roll when turning in this set."}
 {:name   "Justice"
  :effect "You also gain two random Tarot cards when turning in this set."}
 {:name   "The Hanging Man"
  :effect "You also gain four random Inversed curios when turning in this set."}
 {:name   "Death"
  :effect "You can discard this card to draw two new Tarot cards."}
 {:name   "Temperance"
  :effect "This turn in's result is a blank relic with no thematic mods. It has no starting mods, but minimum mod restrictions still apply to it."}
 {:name   "The Devil"
  :effect "When you turn in this set, you immediately draw 6 tarot cards. You must then decide to either discard 6 tarot cards, or discard the main item generated by this set."}
 {:name   "The Tower"
  :effect "25% for the result(s) of this turn in to be destroyed, 75% for the result(s) of this turn in to be duplicated."}
 {:name   "The Star"
  :effect "You also gain an Orb of Purification when turning in this set."}
 {:name   "The Moon"
  :effect "You also gain two distinct non-synergy rings when turning in this set."}
 {:name   "The Sun"
  :effect "You also gain two distinct synergy rings when turning in this set."}
 {:name   "Judgement"
  :effect "One card of your choice from this set is refunded on turn in."}
 {:name   "The World"
  :effect "You also gain an advantaged CR amulet when turning in this set."}

 {:name   "X of Swords"
  :effect "You gain X additional gold when turning in this set. +1 minimum modifiers with the 'damage' or 'accuracy' tags."}
 {:name   "X of Wands"
  :effect "You gain {X} additional gold when turning in this set. +1 minimum modifiers with the 'magic' or 'critical' tags."}
 {:name   "X of Cups"
  :effect "You gain {X} additional gold when turning in this set. +1 minimum modifiers with the 'survivability' or 'control' tags."}
 {:name   "X of Pentacles"
  :effect "You gain {X} additional gold when turning in this set. +1 minimum modifiers with the 'utility' or 'wealth' tags."}

 {:name   "Queen of Swords"
  :effect "The resulting item is a unique item. +1 minimum modifiers with the 'damage' or 'accuracy' tags. Instead of adding tagged modifiers to meet the minimum, add random character enchants (based on the player that turned in)."}
 {:name   "Queen of Wands"
  :effect "The resulting item is a unique item. +1 minimum modifiers with the 'magic' or 'critical' tags. Instead of adding tagged modifiers to meet the minimum, add random character enchants (based on the player that turned in)."}
 {:name   "Queen of Cups"
  :effect "The resulting item is a unique item. +1 minimum modifiers with the 'survivability' or 'control' tags. Instead of adding tagged modifiers to meet the minimum, add random character enchants (based on the player that turned in)."}
 {:name   "Queen of Pentacles"
  :effect "The resulting item is a unique item. +1 minimum modifiers with the 'utility' or 'wealth' tags. Instead of adding tagged modifiers to meet the minimum, add random character enchants (based on the player that turned in)."}

 {:name   "King of Swords"
  :effect "The resulting item is a unique item. +1 minimum modifiers with the 'damage' or 'accuracy' tags."}
 {:name   "King of Wands"
  :effect "The resulting item is a unique item. +1 minimum modifiers with the 'magic' or 'critical' tags."}
 {:name   "King of Cups"
  :effect "The resulting item is a unique item. +1 minimum modifiers with the 'survivability' or 'control' tags."}
 {:name   "King of Pentacles"
  :effect "The resulting item is a unique item. +1 minimum modifiers with the 'utility' or 'wealth' tags."}

 {:name   "Page of Swords"
  :effect "The resulting item is a helmet. +1 minimum modifiers with the 'damage' or 'accuracy' tags."}
 {:name   "Page of Wands"
  :effect "The resulting item is a helmet. +1 minimum modifiers with the 'magic' or 'critical' tags."}
 {:name   "Page of Cups"
  :effect "The resulting item is a helmet. +1 minimum modifiers with the 'survivability' or 'control' tags."}
 {:name   "Page of Pentacles"
  :effect "The resulting item is a helmet. +1 minimum modifiers with the 'utility' or 'wealth' tags."}

 {:name   "Knight of Swords"
  :effect "The resulting item is a relic. +1 minimum modifiers with the 'damage' or 'accuracy' tags."}
 {:name   "Knight of Wands"
  :effect "The resulting item is a relic. +1 minimum modifiers with the 'magic' or 'critical' tags."}
 {:name   "Knight of Cups"
  :effect "The resulting item is a relic. +1 minimum modifiers with the 'survivability' or 'control' tags."}
 {:name   "Knight of Pentacles"
  :effect "The resulting item is a relic. +1 minimum modifiers with the 'utility' or 'wealth' tags."}]
