[{:category     "Club",
  :proficiency  "Simple",
  :name         "Club",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :range        "20/60",
  :traits       ["Deadly" "Thrown"]}
 {:category     "Knife",
  :proficiency  "Simple",
  :name         "Dagger",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing"],
  :range        "20/60",
  :traits       ["Dual-wielding" "Finesse" "Thrown"]}
 {:category     "Brawling",
  :proficiency  "Simple",
  :name         "Gauntlet",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Bludgeoning" "Slashing"],
  :traits       ["Concealable" "Dual-wielding" "Unarmed" "Flexible"]}
 {:category     "Club",
  :proficiency  "Simple",
  :name         "Light Mace",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Bludgeoning"],
  :traits       ["Dual-wielding" "Finesse" "Shove"]}
 {:category     "Spear",
  :proficiency  "Simple",
  :name         "Longspear",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :traits       ["Two-handed" "Reach"]}
 {:category     "Club",
  :proficiency  "Simple",
  :name         "Mace",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :traits       ["Deadly" "Shove"]}
 {:category     "Club",
  :proficiency  "Simple",
  :name         "Morningstar",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning" "Piercing"],
  :traits       ["Deadly" "Flexible"]}
 {:category     "Knife",
  :proficiency  "Simple",
  :name         "Sickle",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Slashing"],
  :traits       ["Dual-wielding" "Finesse" "Trip"]}
 {:category     "Spear",
  :proficiency  "Simple",
  :name         "Spear",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :range        "30/80",
  :traits       ["Thrown"]}
 {:category     "Caster",
  :proficiency  "Simple",
  :name         "Staff",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Conduit"]}
 {:category     "Dart",
  :proficiency  "Simple",
  :name         "Blowgun",
  :type         "Ranged",
  :damage       1,
  :damage-types ["Piercing"],
  :range        "20/60",
  :traits       ["Dual-wielding" "Forceful" "Non-lethal" "Rapid"]}
 {:category     "Bow",
  :proficiency  "Simple",
  :name         "Crossbow",
  :type         "Ranged",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :range        "120/400",
  :traits       ["Two-handed" "Loading"]}
 {:category     "Bow",
  :proficiency  "Simple",
  :name         "Hand Crossbow",
  :type         "Ranged",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :range        "30/80",
  :traits       ["Loading"]}
 {:category     "Bow",
  :proficiency  "Simple",
  :name         "Heavy Crossbow",
  :type         "Ranged",
  :damage       "1d10",
  :damage-types ["Piercing"],
  :range        "120/400",
  :traits       ["Two-handed" "Heavy" "Loading"]}
 {:category     "Sling",
  :proficiency  "Simple",
  :name         "Sling",
  :type         "Ranged",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :range        "30/80",
  :traits       ["Propulsive"]}
 {:category     "Magic",
  :proficiency  "Simple",
  :name         "Wand",
  :type         "Ranged",
  :damage       1,
  :damage-types ["Force"],
  :range        "20/60",
  :traits       ["Conduit" "Dual-wielding" "Mental"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Bastard Sword",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Grapple" "Responsive"]}
 {:category     "Axe",
  :proficiency  "Martial",
  :name         "Battle Axe",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Slashing"],
  :traits       ["Disarm" "Sweep"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Boomerang",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Slashing"],
  :range        "20/60",
  :traits       ["Deadly" "Thrown" "Returning"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Bo Staff",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Parrying" "Reach" "Trip"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Falchion",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Forceful" "Sweep"]}
 {:category     "Flail",
  :proficiency  "Martial",
  :name         "Flail",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :traits       ["Disarm" "Responsive" "Sweep" "Trip"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Glaive",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Deadly" "Forceful" "Heavy" "Reach"]}
 {:category     "Axe",
  :proficiency  "Martial",
  :name         "Greataxe",
  :type         "Melee",
  :damage       "1d12",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Heavy" "Sweep"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Greatclub",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Deadly" "Heavy" "Rapid" "Shove"]}
 {:category     "Pick",
  :proficiency  "Martial",
  :name         "Greatpick",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Piercing"],
  :traits       ["Two-handed" "Deadly" "Fatal" "Heavy"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Greatsword",
  :type         "Melee",
  :damage       "1d12",
  :damage-types ["Slashing" "Piercing"],
  :traits       ["Two-handed" "Flexible" "Heavy"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Guisarme",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Reach" "Trip"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Halberd",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Piercing" "Slashing"],
  :traits       ["Two-handed" "Reach" "Flexible"]}
 {:category     "Axe",
  :proficiency  "Martial",
  :name         "Hatchet",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Slashing"],
  :range        "20/60",
  :traits       ["Disarm" "Dual-wielding" "Sweep" "Thrown"]}
 {:category     "Spear",
  :proficiency  "Martial",
  :name         "Lance",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :traits       ["Two-handed" "Charge" "Deadly" "Reach"]}
 {:category     "Hammer",
  :proficiency  "Martial",
  :name         "Light Hammer",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Bludgeoning"],
  :range        "20/60",
  :traits       ["Dual-wielding" "Thrown"]}
 {:category     "Pick",
  :proficiency  "Martial",
  :name         "Light Pick",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :traits       ["Dual-wielding" "Fatal"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Longsword",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Slashing" "Piercing"],
  :traits       ["Flexible" "Responsive"]}
 {:category     "Knife",
  :proficiency  "Martial",
  :name         "Main-gauche",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing"],
  :traits       ["Dual-wielding" "Finesse" "Parrying"]}
 {:category     "Hammer",
  :proficiency  "Martial",
  :name         "Maul",
  :type         "Melee",
  :damage       "1d12",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Heavy" "Shove"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Nunchaku",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Compound" "Finesse"]}
 {:category     "Pick",
  :proficiency  "Martial",
  :name         "Pick",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :traits       ["Deadly" "Fatal"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Ranseur",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Piercing"],
  :traits       ["Two-handed" "Disarm" "Reach"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Rapier",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :traits       ["Disarm" "Fatal" "Finesse"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Ring Blade",
  :type         "Melee",
  :damage       ["1d8"],
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Disarm" "Finesse" "Sweep"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Sap",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Bludgeoning"],
  :traits       ["Concealable" "Dual-wielding" "Non-lethal"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Scimitar",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Slashing"],
  :traits       ["Forceful" "Responsive" "Sweep"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Scythe",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Deadly" "Trip"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Shortsword",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing" "Slashing"],
  :traits       ["Dual-wielding" "Finesse" "Flexible"]}
 {:category     "Shield",
  :proficiency  "Martial",
  :name         "Small Shield",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning" "Slashing"],
  :traits       ["Dual-wielding" "Flexible" "Targe"]}
 {:category     "Knife",
  :proficiency  "Martial",
  :name         "Starknife",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing"],
  :range        "20/60",
  :traits       ["Dual-wielding" "Fatal" "Finesse" "Thrown"]}
 {:category     "Shield",
  :proficiency  "Martial",
  :name         "Tower Shield",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Heavy" "Shove" "Targe"]}
 {:category     "Spear",
  :proficiency  "Martial",
  :name         "Trident",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :range        "30/80",
  :traits       ["Thrown"]}
 {:category     "Flail",
  :proficiency  "Martial",
  :name         "War Flail",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Disarm" "Heavy" "Sweep" "Trip"]}
 {:category     "Hammer",
  :proficiency  "Martial",
  :name         "Warhammer",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Bludgeoning"],
  :traits       ["Deadly" "Shove"]}
 {:category     "Flail",
  :proficiency  "Martial",
  :name         "Whip",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Slashing"],
  :traits       ["Disarm" "Finesse" "Non-lethal" "Reach" "Trip"]}
 {:category     "Bow",
  :proficiency  "Martial",
  :name         "Longbow",
  :type         "Ranged",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :range        "150/600",
  :traits       ["Two-handed" "Fatal" "Heavy"]}
 {:category     "Bow",
  :proficiency  "Martial",
  :name         "Shortbow",
  :type         "Ranged",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :range        "80/320",
  :traits       ["Two-handed" "Fatal"]}]
