[{:type "loot:12", :session 12, :amount 6}
 {:type "loot:3", :session 12, :amount 1}
 {:type "loot:8", :session 12, :amount 2}
 {:type "loot:3", :session 1, :amount 1}
 {:type "loot:8", :session 1, :amount 1}
 {:type "loot:10", :session 1, :amount 1}
 {:type "loot:11", :session 1, :amount 1}
 {:type "days:other", :session 2, :amount 2}
 {:type "loot:3", :session 2, :amount 2}
 {:type "loot:6", :session 2, :amount 2}
 {:type "loot:2", :session 3, :amount 1}
 {:type "days:travel", :session 13, :amount 2}
 {:type "days:travel", :session 3, :amount 13}
 {:type "loot:7", :session 4, :amount 1}
 {:type "loot:10", :session 4, :amount 1}
 {:type "encounter:positive", :session 4, :amount 1}
 {:type "encounter:random", :session 4, :amount 1}
 {:type "loot:5", :session 4, :amount 1}
 {:type "loot:1", :session 4, :amount 2}
 {:type "loot:4", :session 4, :amount 1}
 {:type "days:other", :session 4, :amount 1}
 {:type "loot:3", :session 14, :amount 1}
 {:type "loot:3", :session 4, :amount 1}
 {:type "loot:9", :session 14, :amount 1}
 {:type "encounter:positive", :session 5, :amount 1}
 {:type "loot:1", :session 5, :amount 1}
 {:type "loot:2", :session 5, :amount 1}
 {:type "loot:8", :session 18, :amount 2}
 {:type "loot:8", :session 5, :amount 1}
 {:type "loot:12", :session 5, :amount 1}
 {:type "days:other", :session 5, :amount 1}
 {:type "days:travel", :session 5, :amount 5}
 {:type "days:travel", :session 4, :amount 12}
 {:type "loot:4", :session 6, :amount 1}
 {:type "loot:6", :session 6, :amount 2}
 {:type "loot:11", :session 6, :amount 1}
 {:type "loot:3", :session 6, :amount 1}
 {:type "loot:1", :session 6, :amount 1}
 {:type "loot:8", :session 6, :amount 1}
 {:type "loot:9", :session 6, :amount 2}
 {:type "days:travel", :session 6, :amount 2}
 {:type "encounter:random", :session 6, :amount 1}
 {:type "days:other", :session 6, :amount 1}
 {:type "loot:6", :session 7, :amount 1}
 {:type "loot:2", :session 7, :amount 2}
 {:type "loot:1", :session 7, :amount 2}
 {:type "loot:4", :session 7, :amount 1}
 {:type "loot:7", :session 7, :amount 1}
 {:type "loot:10", :session 7, :amount 2}
 {:type "days:travel", :session 7, :amount 10}
 {:type "encounter:random", :session 7, :amount 2}
 {:type "loot:1", :session 8, :amount 1}
 {:type "loot:6", :session 8, :amount 2}
 {:type "loot:5", :session 8, :amount 1}
 {:type "days:travel", :session 8, :amount 5}
 {:type "encounter:random", :session 8, :amount 1}
 {:type "loot:3", :session 8, :amount 1}
 {:type "loot:4", :session 8, :amount 2}
 {:type "loot:8", :session 8, :amount 1}
 {:type "loot:10", :session 9, :amount 1}
 {:type "loot:9", :session 9, :amount 1}
 {:type "loot:11", :session 9, :amount 1}
 {:type "loot:6", :session 9, :amount 2}
 {:type "loot:1", :session 9, :amount 1}
 {:type "loot:2", :session 9, :amount 1}
 {:type "loot:5", :session 9, :amount 2}
 {:type "loot:7", :session 9, :amount 1}
 {:type "days:other", :session 10, :amount 1}
 {:type "loot:5", :session 14, :amount 2}
 {:type "loot:1", :session 10, :amount 2}
 {:type "loot:3", :session 10, :amount 2}
 {:type "loot:4", :session 10, :amount 1}
 {:type "days:travel", :session 14, :amount 2}
 {:type "loot:6", :session 10, :amount 2}
 {:type "loot:7", :session 10, :amount 6}
 {:type "loot:9", :session 10, :amount 2}
 {:type "loot:10", :session 10, :amount 1}
 {:type "loot:11", :session 10, :amount 2}
 {:type "loot:12", :session 10, :amount 2}
 {:type "days:travel", :session 10, :amount 2}
 {:type "encounter:positive", :session 11, :amount 1}
 {:type "loot:7", :session 11, :amount 1}
 {:type "loot:6", :session 11, :amount 1}
 {:type "encounter:random", :session 14, :amount 2}
 {:type "loot:1", :session 11, :amount 1}
 {:type "loot:2", :session 14, :amount 2}
 {:type "loot:4", :session 14, :amount 1}
 {:type "loot:10", :session 14, :amount 2}
 {:type "loot:8", :session 14, :amount 2}
 {:type "loot:3", :session 19, :amount 2}
 {:type "loot:11", :session 14, :amount 2}
 {:type "days:travel", :session 11, :amount 6}
 {:type "loot:12", :session 14, :amount 2}
 {:type "encounter:random", :session 11, :amount 2}
 {:type "loot:2", :session 11, :amount 1}
 {:type "loot:4", :session 11, :amount 2}
 {:type "loot:11", :session 11, :amount 1}
 {:type "loot:12", :session 11, :amount 1}
 {:type "loot:2", :session 12, :amount 1}
 {:type "loot:4", :session 12, :amount 2}
 {:type "loot:5", :session 12, :amount 1}
 {:type "loot:6", :session 12, :amount 1}
 {:type "encounter:positive", :session 15, :amount 1}
 {:type "loot:9", :session 18, :amount 2}
 {:type "days:other", :session 12, :amount 1}
 {:type "days:travel", :session 12, :amount 5}
 {:type "encounter:random", :session 12, :amount 1}
 {:type "loot:1", :session 12, :amount 2}
 {:type "loot:7", :session 12, :amount 2}
 {:type "loot:9", :session 12, :amount 2}
 {:type "loot:11", :session 12, :amount 1}
 {:type "loot:11", :session 18, :amount 1}
 {:type "loot:7", :session 15, :amount 1}
 {:type "loot:3", :session 15, :amount 1}
 {:type "loot:9", :session 15, :amount 2}
 {:type "days:travel", :session 15, :amount 10}
 {:type "encounter:random", :session 15, :amount 2}
 {:type "loot:5", :session 15, :amount 2}
 {:type "loot:6", :session 15, :amount 1}
 {:type "loot:11", :session 15, :amount 1}
 {:type "loot:2", :session 15, :amount 2}
 {:type "loot:4", :session 15, :amount 1}
 {:type "loot:8", :session 15, :amount 1}
 {:type "loot:12", :session 15, :amount 1}
 {:type "loot:9", :session 16, :amount 1}
 {:type "loot:6", :session 17, :amount 1}
 {:type "loot:8", :session 17, :amount 1}
 {:type "loot:9", :session 17, :amount 1}
 {:type "days:travel", :session 17, :amount 5}
 {:type "encounter:random", :session 17, :amount 2}
 {:type "loot:1", :session 17, :amount 1}
 {:type "loot:3", :session 17, :amount 1}
 {:type "loot:7", :session 17, :amount 2}
 {:type "loot:11", :session 17, :amount 1}
 {:type "loot:12", :session 17, :amount 1}
 {:type "loot:2", :session 18, :amount 1}
 {:type "loot:5", :session 18, :amount 1}
 {:type "loot:6", :session 18, :amount 1}
 {:type "loot:7", :session 18, :amount 1}
 {:type "days:other", :session 18, :amount 2}
 {:type "days:travel", :session 19, :amount 5}
 {:type "encounter:random", :session 19, :amount 2}
 {:type "loot:1", :session 19, :amount 1}
 {:type "loot:4", :session 19, :amount 1}
 {:type "loot:5", :session 19, :amount 2}
 {:type "loot:6", :session 19, :amount 1}
 {:type "loot:12", :session 19, :amount 1}
 {:type "loot:9", :session 19, :amount 2}
 {:type "loot:11", :session 19, :amount 2}
 {:type "loot:2", :session 19, :amount 2}
 {:type "days:other", :session 21, :amount 8}
 {:type "days:travel", :session 21, :amount 1}
 {:type "encounter:positive", :session 21, :amount 1}
 {:type "loot:5", :session 21, :amount 1}
 {:type "days:travel", :session 22, :amount 6}
 {:type "encounter:random", :session 22, :amount 2}
 {:type "encounter:positive", :session 22, :amount 2}
 {:type "loot:2", :session 22, :amount 1}
 {:type "loot:4", :session 22, :amount 2}
 {:type "loot:5", :session 22, :amount 1}
 {:type "loot:7", :session 22, :amount 1}
 {:type "days:other", :session 23, :amount 1}
 {:type "loot:4", :session 23, :amount 2}
 {:type "loot:5", :session 23, :amount 1}
 {:type "loot:6", :session 23, :amount 1}
 {:type "loot:7", :session 23, :amount 1}
 {:type "loot:8", :session 23, :amount 2}
 {:type "loot:12", :session 23, :amount 1}
 {:type "loot:2", :session 24, :amount 1}
 {:type "loot:3", :session 24, :amount 1}
 {:type "days:travel", :session 24, :amount 10}
 {:type "encounter:random", :session 24, :amount 2}
 {:type "loot:7", :session 24, :amount 1}
 {:type "days:other", :session 24, :amount 1}
 {:type "loot:1", :session 25, :amount 1}
 {:type "loot:2", :session 25, :amount 1}
 {:type "loot:4", :session 25, :amount 2}
 {:type "loot:10", :session 25, :amount 2}
 {:type "loot:11", :session 26, :amount 2}
 {:type "days:other", :session 26, :amount 1}]
