[{:character "urian", :path "Volatile Presence", :progress 5}
 {:character "urian", :path "Eternal Vigour", :progress 2}
 {:character "fiore", :path "Aggressive Combat", :progress 5}
 {:character "zed", :path "Arcane Combat", :progress 4}
 {:character "truvat", :path "Wrathful Judgement", :progress 4}
 {:character "fiore", :path "Eternal Vigour", :progress 2}]
